#map {
  width:100%;
  height:100vh;
  padding: 0;
  margin: 0;
}

#map_grid {
  padding: 0;
  margin: 0;
}

#search-form {
  margin: 0;
}

.ui.styled.accordion{
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 30;

}


#search-form{
  margin-top: 22px;
}

#searchbox{
  background: #fc3a57; /* Old browsers */
  background: -moz-linear-gradient(left,  #fc3a57 1%, #ff9f89 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(1%,#fc3a57), color-stop(100%,#ff9f89)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #fc3a57 1%,#ff9f89 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #fc3a57 1%,#ff9f89 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #fc3a57 1%,#ff9f89 100%); /* IE10+ */
  background: linear-gradient(to right,  #fc3a57 1%,#ff9f89 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc3a57', endColorstr='#ff9f89',GradientType=1 ); /* IE6-9 */
  opacity: 0.7;
  color: white;
  border: 0;
  font-weight: 900;
}

.ui.icon.button.colored{
  background: #48cec7; /* Old browsers */
  background: -moz-linear-gradient(left,  #48cec7 0%, #6ed3d0 16%, #99e5cd 82%, #aee2d2 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#48cec7), color-stop(16%,#6ed3d0), color-stop(82%,#99e5cd), color-stop(99%,#aee2d2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #48cec7 0%,#6ed3d0 16%,#99e5cd 82%,#aee2d2 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #48cec7 0%,#6ed3d0 16%,#99e5cd 82%,#aee2d2 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #48cec7 0%,#6ed3d0 16%,#99e5cd 82%,#aee2d2 99%); /* IE10+ */
  background: linear-gradient(to right,  #48cec7 0%,#6ed3d0 16%,#99e5cd 82%,#aee2d2 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48cec7', endColorstr='#aee2d2',GradientType=1 ); /* IE6-9 */
  color: white;
  margin-right: 10px;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  /*background-color: #77EDD5;*/
  background: #48cec7; /* Old browsers */
background: -moz-linear-gradient(left,  #48cec7 0%, #6ed3d0 16%, #99e5cd 82%, #aee2d2 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#48cec7), color-stop(16%,#6ed3d0), color-stop(82%,#99e5cd), color-stop(99%,#aee2d2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #48cec7 0%,#6ed3d0 16%,#99e5cd 82%,#aee2d2 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #48cec7 0%,#6ed3d0 16%,#99e5cd 82%,#aee2d2 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #48cec7 0%,#6ed3d0 16%,#99e5cd 82%,#aee2d2 99%); /* IE10+ */
background: linear-gradient(to right,  #48cec7 0%,#6ed3d0 16%,#99e5cd 82%,#aee2d2 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48cec7', endColorstr='#aee2d2',GradientType=1 ); /* IE6-9 */
  box-shadow: 0px 10px 20px rgba(22, 22, 22, 0.15);

}

.search{
  margin: 15px;
}

input{
  background-color: rgba(255,255,255,0.3);
  border: 0;
  border-radius: 10px;
  width: 300px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
  color: white;
  font-family: 'trebuchet MS';
}

button{
  background-color: rgba(255,255,255,0);
  border: 0;
}

.nav_title {
  padding-top: 8px;
  color: white;
}

.venue-list-name{
  /*background: -webkit-linear-gradient(#aee2d2, #48cec7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  font-size: 18px;
  color: #48cec7;
  text-align: center;
  font-family: 'Nixie One', cursive;
}

.address-text{
  font-size: 14px;
  color: #fc3a57;
}

.phone-text{

}

body {
  margin-top: 60px;
  background-image: url(/assets/images/swirl_pattern.png);
  background-repeat: repeat;

  /*background-color: white;*/
  /*background-color: #2E3C4A;*/
}

.style1 {
	border-top: 0px;
	border-bottom: 2px dashed #D1D1D1;
}

div.title.active{
  padding: -20px;
}
